.altera-fontes {
    font-style: normal; 
    font-size: 3 em;
    font-family: 'Comic Neue', cursive; 
 
 }

 #fundo{
    background-color: lightseagreen;
    text-align: center;
 }

h1 {
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
}

#app {
    background-color: rgb(213, 181, 247);
}

#game{
    background-color:lightcoral;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#myCarousel img
{
    height: 300px;
    margin: 15px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
